USE [master]
GO
/****** Object:  Database [INSINSTANCE]    Script Date: 11/12/2014 6:43:54 AM ******/
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INSINSTANCE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INSINSTANCE]
GO
/****** Object:  ApplicationRole [INS]    Script Date: 11/12/2014 6:43:55 AM ******/
/* To avoid disclosure of passwords, the password is generated in script. */
declare @idx as int
declare @randomPwd as nvarchar(64)
declare @rnd as float
select @idx = 0
select @randomPwd = N''
select @rnd = rand((@@CPU_BUSY % 100) + ((@@IDLE % 100) * 100) + 
       (DATEPART(ss, GETDATE()) * 10000) + ((cast(DATEPART(ms, GETDATE()) as int) % 100) * 1000000))
while @idx < 64
begin
   select @randomPwd = @randomPwd + char((cast((@rnd * 83) as int) + 43))
   select @idx = @idx + 1
select @rnd = rand()
end
declare @statement nvarchar(4000)
select @statement = N'CREATE APPLICATION ROLE [INS] WITH DEFAULT_SCHEMA = [dbo], ' + N'PASSWORD = N' + QUOTENAME(@randomPwd,'''')
EXEC dbo.sp_executesql @statement

GO
/****** Object:  User [admin]    Script Date: 11/12/2014 6:43:55 AM ******/
CREATE USER [admin] FOR LOGIN [admin-HP\admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [ins]    Script Date: 11/12/2014 6:43:55 AM ******/
CREATE SCHEMA [ins]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[ContactValue] [varchar](50) NULL,
	[ContactTypeID] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactType]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactType](
	[ContactTypeID] [int] NOT NULL,
	[ContactTypeName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [varchar](40) NULL,
	[EventTypeParentID] [int] NULL,
	[Tag] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventUTD]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventUTD](
	[EventID] [int] NOT NULL,
	[EventTitle] [varchar](50) NULL,
	[EventURL] [varchar](60) NULL,
	[Category] [varchar](20) NULL,
	[TimeDuration] [varchar](20) NULL,
	[StartTime] [varchar](10) NULL,
	[EventDescription] [varchar](700) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserPreferenceID] [int] NULL,
	[NotificationTypeID] [int] NULL,
	[ContactID] [int] NULL,
	[UnitCount] [int] NULL,
	[TimeOfNewsLetter] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationType]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationType](
	[NotificationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationTypeName] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NOT NULL,
	[registeredEmailAddress] [varchar](50) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[VerificationCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPreference]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserPreference](
	[UserPreferenceID] [int] IDENTITY(1,1) NOT NULL,
	[UserPreferenceName] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserPreferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPreferenceEventTypes]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreferenceEventTypes](
	[UserPreferenceID] [int] NOT NULL,
	[EventTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserPreferenceID] ASC,
	[EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPreferenceGroups]    Script Date: 11/12/2014 6:43:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreferenceGroups](
	[UserPreferenceGroupID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[UserPreferenceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserPreferenceGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [ContactValue], [ContactTypeID], [UserID]) VALUES (1, N'sak120230@utdallas.edu', 1, 17)
INSERT [dbo].[Contact] ([ContactID], [ContactValue], [ContactTypeID], [UserID]) VALUES (2, N'saquib.khan@utdallas.edu', 1, 18)
SET IDENTITY_INSERT [dbo].[Contact] OFF
INSERT [dbo].[ContactType] ([ContactTypeID], [ContactTypeName]) VALUES (1, N'Email')
INSERT [dbo].[ContactType] ([ContactTypeID], [ContactTypeName]) VALUES (2, N'Phone')
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName], [EventTypeParentID], [Tag]) VALUES (1, N'Academic', NULL, NULL)
INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName], [EventTypeParentID], [Tag]) VALUES (2, N'ADMINISTRATION', NULL, NULL)
INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName], [EventTypeParentID], [Tag]) VALUES (3, N'CARRER', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EventType] OFF
INSERT [dbo].[EventUTD] ([EventID], [EventTitle], [EventURL], [Category], [TimeDuration], [StartTime], [EventDescription]) VALUES (1220404011, N'Radio UTD - Music Lecture', N'http://www.utdallas.edu/calendar/event.php?id=1220404011', N'CULTURAL', N'5:30 p.m.-7 p.m.', N'5:30 p.m.', N'Part of Radio UTD''s fall music lecture series')
INSERT [dbo].[EventUTD] ([EventID], [EventTitle], [EventURL], [Category], [TimeDuration], [StartTime], [EventDescription]) VALUES (1220404011, N'Radio UTD - Music Lecture', N'http://www.utdallas.edu/calendar/event.php?id=1220404011', N'RADIO', N'5:30 p.m.-7 p.m.', N'5:30 p.m.', N'Part of Radio UTD''s fall music lecture series')
INSERT [dbo].[EventUTD] ([EventID], [EventTitle], [EventURL], [Category], [TimeDuration], [StartTime], [EventDescription]) VALUES (1220404011, N'Radio UTD - Music Lecture', N'http://www.utdallas.edu/calendar/event.php?id=1220404011', N'SEMINAR', N'5:30 p.m.-7 p.m.', N'5:30 p.m.', N'Part of Radio UTD''s fall music lecture series')
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [UserPreferenceID], [NotificationTypeID], [ContactID], [UnitCount], [TimeOfNewsLetter]) VALUES (23, 7, 1, 1, 15, NULL)
INSERT [dbo].[Notification] ([NotificationID], [UserPreferenceID], [NotificationTypeID], [ContactID], [UnitCount], [TimeOfNewsLetter]) VALUES (24, 7, 2, 1, 2, NULL)
INSERT [dbo].[Notification] ([NotificationID], [UserPreferenceID], [NotificationTypeID], [ContactID], [UnitCount], [TimeOfNewsLetter]) VALUES (25, 7, 3, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Notification] OFF
SET IDENTITY_INSERT [dbo].[NotificationType] ON 

INSERT [dbo].[NotificationType] ([NotificationTypeID], [NotificationTypeName]) VALUES (1, N'Minutes')
INSERT [dbo].[NotificationType] ([NotificationTypeID], [NotificationTypeName]) VALUES (2, N'Hours')
INSERT [dbo].[NotificationType] ([NotificationTypeID], [NotificationTypeName]) VALUES (3, N'Days')
SET IDENTITY_INSERT [dbo].[NotificationType] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([UserID], [UserName], [UserPassword], [LastName], [FirstName], [registeredEmailAddress], [IsVerified], [VerificationCode]) VALUES (17, N'sak120230', N'A3CB738850FA39BE667C4D6428D72AEE854B2CC7', N'Khan', N'saquib', N'sak120230@utdallas.edu', 1, 2789)
INSERT [dbo].[Student] ([UserID], [UserName], [UserPassword], [LastName], [FirstName], [registeredEmailAddress], [IsVerified], [VerificationCode]) VALUES (18, N'saquib.khan', N'A3CB738850FA39BE667C4D6428D72AEE854B2CC7', N'Khan', N'Saquib', N'saquib.khan@utdallas.edu', 1, 6375)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[UserPreference] ON 

INSERT [dbo].[UserPreference] ([UserPreferenceID], [UserPreferenceName]) VALUES (7, N'First Preference')
SET IDENTITY_INSERT [dbo].[UserPreference] OFF
INSERT [dbo].[UserPreferenceEventTypes] ([UserPreferenceID], [EventTypeID]) VALUES (7, 1)
INSERT [dbo].[UserPreferenceEventTypes] ([UserPreferenceID], [EventTypeID]) VALUES (7, 2)
INSERT [dbo].[UserPreferenceEventTypes] ([UserPreferenceID], [EventTypeID]) VALUES (7, 8)
SET IDENTITY_INSERT [dbo].[UserPreferenceGroups] ON 

INSERT [dbo].[UserPreferenceGroups] ([UserPreferenceGroupID], [UserID], [UserPreferenceID]) VALUES (1, 17, 7)
SET IDENTITY_INSERT [dbo].[UserPreferenceGroups] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Student__8096FBAD24E2C0AF]    Script Date: 11/12/2014 6:43:55 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[registeredEmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Student__C9F28456F095FAEE]    Script Date: 11/12/2014 6:43:55 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/12/2014 6:43:55 AM ******/
CREATE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Student]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserPasswordIndex]    Script Date: 11/12/2014 6:43:55 AM ******/
CREATE NONCLUSTERED INDEX [UserPasswordIndex] ON [dbo].[Student]
(
	[UserPassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([ContactTypeID])
REFERENCES [dbo].[ContactType] ([ContactTypeID])
GO
ALTER TABLE [dbo].[Contact]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Student] ([UserID])
GO
ALTER TABLE [dbo].[EventType]  WITH CHECK ADD FOREIGN KEY([EventTypeParentID])
REFERENCES [dbo].[EventType] ([EventTypeID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([ContactID])
REFERENCES [dbo].[Contact] ([ContactID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([NotificationTypeID])
REFERENCES [dbo].[NotificationType] ([NotificationTypeID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([UserPreferenceID])
REFERENCES [dbo].[UserPreference] ([UserPreferenceID])
GO
ALTER TABLE [dbo].[UserPreferenceEventTypes]  WITH CHECK ADD FOREIGN KEY([EventTypeID])
REFERENCES [dbo].[EventType] ([EventTypeID])
GO
ALTER TABLE [dbo].[UserPreferenceEventTypes]  WITH CHECK ADD FOREIGN KEY([UserPreferenceID])
REFERENCES [dbo].[UserPreference] ([UserPreferenceID])
GO
ALTER TABLE [dbo].[UserPreferenceGroups]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Student] ([UserID])
GO
ALTER TABLE [dbo].[UserPreferenceGroups]  WITH CHECK ADD FOREIGN KEY([UserPreferenceID])
REFERENCES [dbo].[UserPreference] ([UserPreferenceID])
GO
USE [master]
GO
